* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    
  }
  
*::selection {
    background-color: hsl(258, 100%, 85%);
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: var(--accent);
    color: white;
    outline: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 30
  }

  :root {
    --bold-title: 32px;
    --normal-title: 24px;
    --small-title: 18px;
    --para-text: 14px;
    --text-color: hsl(258, 80%, 10%);
    --secondary-text-color: hsl(258, 80%, 30%);
    --background: hsl(260, 82%, 98%);
    --primary: hsl(258, 80%, 58%);
    --secondary: hsl(258, 80%, 88%);
    --accent: hsl(258, 80%, 48%);
    --high-priority: #FF6F61;
    --medium-priority: #FFD700;
    --low-priority: #2E8B57;
    --done: #6A5ACD;
  }
  
  h2 {
    font-size: var(--normal-title);
  }
  
  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--small-title);
  }
  
  p {
    font-size: var(--para-text);
  }
  
  .task-container > p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
  }
  
  button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #00000000;
    background-color: var(--primary);
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: var(--background);
    height: 8vh;
  }

  .navbar h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    width: 100%;
    height: 88vh;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .sidebar {
    background-color: var(--secondary);
    padding: 30px;
    overflow: auto;
  }
  
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-content {
    padding: 30px;
    overflow: auto;
  }
  
  .proj-item,
  .folder-title {
    font-weight: 600;
    position: relative;
    padding: 0.75rem 1.5rem;
    background-color: var(--secondary);
    margin-bottom: 7px;
    border-radius: 7px;
    border: 1px solid #00000000;
    box-shadow: 7.81px 7.81px 18px #cabcea00, -7.81px -7.81px 18px #e4d4ff00, inset 7.81px 7.81px 18px #cabcea00, inset -7.81px -7.81px 18px #e4d4ff00;
    transition: all 0.3s ease-in-out;
    border: 1px solid hsl(258, 80%, 85%);
}

.folder-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.folder-title .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 30;
}

@keyframes onclick {
    0% {
        box-shadow: 9.91px 9.91px 20px #BCAFDA, -9.91px -9.91px 20px #F2E1FF, inset 9.91px 9.91px 20px #cabcea00, inset -9.91px -9.91px 20px #E4D4FF00;
        background-color: rgb(204, 182, 255);
    }
    20% {
        box-shadow: 9.91px 9.91px 20px #cabcea00, -9.91px -9.91px 20px #e4d4ff00,inset 9.91px 9.91px 20px #ff11c71b, inset -9.91px -9.91px 20px #0debff1b;
        background-color: rgb(204, 182, 255);
    }
    60% {
        box-shadow: 9.91px 9.91px 20px #cabcea00, -9.91px -9.91px 20px #e4d4ff00,inset 9.91px 9.91px 20px #ff11c700, inset -9.91px -9.91px 20px #0debff00;
        background-color: rgb(204, 182, 255);
    }
    100% {
        box-shadow: 9.91px 9.91px 20px #BCAFDA, -9.91px -9.91px 20px #F2E1FF, inset 9.91px 9.91px 20px #cabcea00, inset -9.91px -9.91px 20px #E4D4FF00;
        background-color: rgb(204, 182, 255);
    }
}

  .proj-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .proj-item:hover,
  .folder-title:hover {
    background-color: rgb(204, 182, 255);
    box-shadow: 7.81px 7.81px 18px #BCAFDA, -7.81px -7.81px 18px #F2E1FF,inset 7.81px 7.81px 18px #cabcea00, inset -7.81px -7.81px 18px #E4D4FF00;
}

.proj-item:active, .folder-title:active  {
    animation: onclick 0.4s ease-in-out;
}
  
  .proj-item.selected,
  .folder-title.selected {
    border: 1px solid var(--primary);
  }
  
  .proj-item .proj-delete {
    margin-left: 0.5rem;
    display: none;
    padding: 0.35rem 0.5rem;
    background-color: var(--secondary);
    transition: all 0.3s ease-in-out;
    box-shadow: 6.31px 6.31px 15px #C7B9E6, -6.31px -6.31px 15px #E7D7FF;}

  .proj-item:hover .proj-delete {
    background-color: #ccb6ff;
  }

  .proj-delete:active {
    box-shadow: 0px 0px 0px #C7B9E6, 0px 0px 0px #E7D7FF;
  }

  .proj-item.selected .proj-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  [class*="-container"] {
    margin-top: 2rem;
  }
  
  #add-proj,
  #add-task {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #add-proj-btn {
    margin: 0;
  }  

  #add-proj span,
  #add-task span {
    font-size: 2rem;
  }
  
  #add-proj:hover,
  #add-task:hover {
    border: #00000000 1px solid;
    color: var(--text-color);
    transform: scale(1.1);
  }
  
  #add-task:hover {
    color: var(--accent);
    background-color: var(--secondary);
  }

  .add-proj-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--background);
    padding: 2rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .add-proj-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .add-proj-content input:first-child {
    margin-top: 1rem;
  }
  
  .add-proj-content form > button {
    margin-top: 1rem;
    background-color: var(--text-color);
    color: var(--background);
    margin-left: 1rem;
  }
  
.add-proj-content form > button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

  .add-proj-heading button {
    color: var(--accent);
    background-color: var(--secondary);
    font-weight: 900;
  }
  
  .add-proj-heading button:hover {
    background-color: var(--background);
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 0px 2px var(--accent);
  }
  
  .add-proj-heading button:focus {
    outline: none;
  }
  
  .form-selected {
    transform: translate(-50%, -50%) scale(1) !important;
    z-index: 100;
  }
  
  .add-task-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--background);
    padding: 2rem;
    border-radius: 10px;
    width: auto;
    transition: all 0.2s ease-in-out;
  }
  
  .add-task-content form > button {
    margin-top: 1rem;
    background-color: var(--text-color);
    color: var(--background);
  }
  
  .add-task-content form > button:hover {
    background-color: var(--secondary);
    border: 1px solid var(--text-color);
    color: var(--text-color);
  }
  
  .add-task-content form > button:focus {
    outline: none;
  }
  
  .add-task-content form > select {
    padding: 0.5rem 0.25rem;
    border-radius: 5px;
    border: 1px solid var(--primary);
  }
  
  .add-task-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .add-task-heading button {
    color: var(--accent);
    background-color: var(--secondary);
    font-weight: 900;
  }
  
  .add-task-heading button:hover {
    background-color: var(--background);
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 0px 2px var(--accent);
  }
  
#add-task {
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 50px;
    color: var(--background);
}


  input,
  textarea {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--primary);
    resize: none;
  }
  
  input:hover,
  textarea:hover {
    border: 1px solid var(--text-color);
    background-color: var(--secondary);
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid var(--text-color);
  }
  
  .add-task-content form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.251);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: all 0.2s ease-in-out;
  }
  
  .overlay.active {
    display: block;
  }
  
  .task-item {
    padding: 1rem 1.5rem;
    background-color: #dbd6ff;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #00000000;
    transition: all 0.2s ease-in-out;
    position: relative;
    text-overflow: ellipsis;
  }
  
  .task-item:hover {
    background-color: #ccb6ff;
    box-shadow: 0.5px 0.5px 8px #bda8ec25, -0.5px -0.5px 8px #DBC4FF25;
    border-color: var(--primary);
  }

  .task-item.expanded {
    background-color: #ccb6ff;
    box-shadow: 0px 0px 0px #BDA8EC, 0px 0px 0px #DBC4FF;
    border-top-color: #00000000;
    border-bottom-color: #00000000;
    border-left-color: #00000000;
  }

  .task-desc,
  .task-title-due-date {
    margin-left: 2rem;
  }
  
  .task-title-due-date {
    display: flex;
    justify-content: space-between;
  }
  
  .task-due-date {
    color: var(--secondary-text-color);
  }
  
  .task-creation-date {
    color: var(--secondary-text-color);
    align-self: center;
    justify-self: flex-end;
  }
  
  .task-edit,
  .task-delete {
    padding: 0.35rem 0.5rem;
  }
  
  .task-desc {
    font-size: 14px;
    color: var(--secondary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-right: 10%;
  }
  
  .task-desc.expanded {
    color: var(--text-color);
    overflow: visible;
    display: -webkit-box;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
  }
  
  h4.done,
  p.done {
    text-decoration: line-through;
  }
  
  .task-item.done {
    border-right: 7px solid var(--done);
  }
  
  .low {
    border-right: 7px solid var(--low-priority);
  }
  
  .medium {
    border-right: 7px solid var(--medium-priority);
  }
  
  .high {
    border-right: 7px solid var(--high-priority);
  }
  
  .proj-heading {
    margin-top: 2rem;
  }
  
  .task-buttons {
    margin-top: 1rem;
    display: none;
  }
  
  .task-buttons button {
    margin-right: 0.5rem;
    border: 1px solid #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .task-buttons .task-edit:hover {
    background-color: var(--accent);
    color: var(--background);
    border: 1px solid var(--primary);
  }
  
  .task-buttons .task-delete:hover {
    background-color: var(--accent);
    color: var(--background);
    border: 1px solid var(--primary);
  }
  
  .task-buttons.unhidden {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(25px, 50px)) 1fr;
  }
  
.task-buttons span {
    color: var(--background);
}

  .proj-title,
  .task-title {
    font-weight: 600;
  }

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #dbd6ff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 8px;
    border: 2px solid #dbd6ff;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}

label.task-status-label {
    padding-left: 2rem;
    padding-bottom: 14px;
    padding-top: 1rem;
    position: absolute;
    top: 2.5625rem;
    left: 0.9rem;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  label.task-status-label input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  label.task-status-label input[type=checkbox]:focus ~ span {
    border: 2px solid var(--background);
  }
  label.task-status-label input[type=checkbox]:focus:checked ~ span {
    border: 2px solid var(--accent);
  }
  label.task-status-label input[type=checkbox]:checked ~ span {
    color: var(--background);
    background: var(--accent) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
    background-size: 1.5rem 1.5rem;
    border: 2px solid var(--accent);
  }
  label.task-status-label span {
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: -2px;
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary);
    border: 2px solid var(--background);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  footer {
    text-align: center;
    width: 100%;
    display: flex;
    padding:  0 0 0.5rem;
    height: 4vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #dbd6ff;
}
.footer-link {
    display: flex;
    align-items: center;
    justify-items: center;
}

footer a {
    background: linear-gradient(144deg, #5B42F3 50%,#c8bfff);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
}
footer a:hover {
    scale: 1.05;
    filter: hue-rotate(-25deg);
}

.octicon {
    margin-left: 0.15rem;
    padding-bottom: 0.3rem;
    margin-top: 0.2rem;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        height: 88svh;
    }
    .sidebar {
        display: none;
    }
    .main-content {
        overflow: auto;
        padding: 25px 15px;
    }

    .sidebar {
        overflow: auto;
        padding: 25px 15px;
    }

    h4 {
        white-space: pre-wrap;
    }
    .task-item {
        padding: 1rem 0.5rem 1rem 1rem;
        background-color: #dbd6ff;
        margin-bottom: 5px;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        position: relative;
        overflow: hidden;
    }
    .task-item:hover {
        background-color: #ccb6ff;
        box-shadow: 0.5px 0.5px 8px #bda8ec25, -0.5px -0.5px 8px #DBC4FF25;
        border-color: var(--primary);
    }
    .task-item.expanded {
        background-color: #ccb6ff;
        box-shadow: 0px 0px 0px #BDA8EC, 0px 0px 0px #DBC4FF;
        border-top-color: #00000000;
        border-bottom-color: #00000000;
        border-left-color: #00000000;
    }

    .task-title {
        font-size: 1rem;
    }
    .task-desc,
    .task-title-due-date {
        margin-left: 2rem;
    }
    .task-title-due-date {
        display: flex;
        justify-content: space-between;
    }
    .task-due-date {
        color: var(--secondary-text-color);
        max-width: 30%;
    }
    .task-buttons {
        grid-template-columns: repeat(2, minmax(25px, 50px));
    }
    .task-edit,
    .task-delete {
        padding: 2vw;
    }
    .task-desc {
        font-size: 14px;
        color: var(--secondary-text-color);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-right: 10%;
    }
    .task-desc.expanded {
        color: var(--text-color);
        overflow: visible;
        display: -webkit-box;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
    }
      label.task-status-label span {
        width: 1.5rem;
        height: 1.5rem;
      }
      label.task-status-label input[type=checkbox]:checked ~ span {
        background-size: 1rem 1rem;
      }
      .side-bar-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        border-radius: 50px;
        border: 1px solid #00000000;
        background-color: var(--primary);
        color: var(--background);
        transition: all 0.2s ease-in-out;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
      }
      .side-bar-button:hover {
        color: var(--text-color);
      }
      .container.sidebar-active .sidebar {
        display: block;
      }
      .container.sidebar-active .main-content {
        display: none;
      }
      .navbar {
        padding: 0.5rem 5svw;
        height: 8svh;
      }
      .footer {
        height: 4svh;
      }
      .add-task-content {
        padding: 1rem;
        max-width: 90svw;
      }
      .add-proj-content {
        padding: 1rem;
        width: 90svw;
      }
      .add-proj-content .add-proj-form {
        width: 100%;
      }

      .add-proj-content .add-proj-form input {
        width: 100%;
      }
      .folder-container, .proj-heading, .proj-container {
        margin-top: 0.75rem;
      }
}